<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="cambiarContrasena()">
    <ion-item>
      <ion-label position="floating">Contraseña Anterior</ion-label>
      <ion-input type="password" [(ngModel)]="oldPassword" name="oldPassword" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit">Cambiar Contraseña</ion-button>
  </form>
</ion-content>
