<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" style="margin-left: 10px;">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <h1>Bienvenido/a {{username}}</h1>
        </ion-card-title>
        <ion-card-subtitle>Perfil Usuario</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="nombre" label="Nombre" type="text" placeholder="Ingrese nombre" [disabled]="!isEditing"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="apellidos" label="Apellidos" type="text" placeholder="Ingrese apellidos" [disabled]="!isEditing"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="edad" label="Edad" type="number" placeholder="Ingrese edad" [disabled]="!isEditing"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Nivel Educacional</ion-label>
            <ion-select [(ngModel)]="nivelEducacional" justify="space-between" interface="action-sheet" placeholder="Seleccione nivel" [disabled]="!isEditing">
              <ion-select-option value="Ninguno">Ninguno</ion-select-option>
              <ion-select-option value="Tecnico">Tecnico</ion-select-option>
              <ion-select-option value="Universitario">Universitario</ion-select-option>
              <ion-select-option value="Magister">Magister</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label style="text-align: start;">Fecha Nacimiento</ion-label>
            <ion-datetime-button [(ngModel)]="fechaNacimiento" datetime="datetime" (ionChange)="onFechaChange($event)" [disabled]="!isEditing"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Botón para Editar Perfil -->
    <ion-button *ngIf="!isEditing" (click)="editProfile()">Editar Perfil</ion-button>
    
    <!-- Botón para Guardar los Cambios, solo visible cuando está en modo edición -->
    <ion-button *ngIf="isEditing" (click)="guardarPerfil()">Guardar Cambios</ion-button>
  </div>
</ion-content>
