<ion-header>
  <ion-toolbar>
    <!-- Botón para regresar al Home -->
    <ion-buttons slot="start">
      <ion-button (click)="navigateToHome()">
        <ion-icon slot="icon-only" name="home"></ion-icon>  <!-- Icono de Home -->
      </ion-button>
    </ion-buttons>
    <ion-title>Administrar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>{{ user.nombre }} {{ user.apellidos }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editUser(user)">Editar</ion-button>
        <ion-button color="danger" (click)="deleteUser(user.id)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedUser">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Editar Usuario</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="selectedUser.username" name="username" label="Nombre de Usuario" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedUser.nombre" name="nombre" label="Nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedUser.apellidos" name="apellidos" label="Apellidos" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedUser.edad" name="edad" label="Edad" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="selectedUser.nivelEducacional" name="nivelEducacional" label="Nivel Educacional">
            <ion-select-option value="Ninguno">Ninguno</ion-select-option>
            <ion-select-option value="Tecnico">Técnico</ion-select-option>
            <ion-select-option value="Universitario">Universitario</ion-select-option>
            <ion-select-option value="Magister">Magíster</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-datetime [(ngModel)]="selectedUser.fechaNacimiento" name="fechaNacimiento" display-format="MM/DD/YYYY" label="Fecha de Nacimiento"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="selectedUser.password" name="password" label="Contraseña" type="password"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="updateUser()">Actualizar Usuario</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="full" color="secondary" (click)="navigateToRegister()">Agregar Nuevo Usuario</ion-button>

  <!-- Botón para volver al Home -->
  <ion-button expand="full" color="primary" (click)="navigateToHome()">Volver al Home</ion-button>
</ion-content>
