<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login de Acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Credenciales</ion-card-title>
        <ion-card-subtitle>Por favor ingrese sus datos</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="login" style="text-align: center;">
          <img src="./assets/img/logo.webp" alt="Logo" style="max-width: 80%; height: auto;">
        </div>

        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="user.username" placeholder="Ingrese su usuario"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="user.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>

          <ion-item>
            <ion-toggle slot="start">Recuerdame</ion-toggle>
          </ion-item>

          <ion-item *ngIf="mensaje">
            <ion-label color="danger">{{ mensaje }}</ion-label>
          </ion-item>

          <div *ngIf="spinner" style="text-align: center;">
            <ion-label>Cargando...</ion-label>
            <mat-spinner></mat-spinner>
          </div>

          <ion-button expand="full" fill="outline" (click)="validar()">Conectar</ion-button>
          <ion-button expand="full" fill="outline" [routerLink]="['/register']">Registrar</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
