<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu De Inicio</ion-title>

   
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/admin']">
        <ion-icon name="settings-outline"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvendio a</ion-card-title>
        <ion-card-subtitle>Te Llevo App</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="login" style="text-align: center;">
          <img src="./assets/img/logo.webp" alt="Logo" style="max-width: 80%; height: auto;">
        </div>

        <ion-list>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="user.username" placeholder="Ingrese su usuario"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="user.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>

          <ion-item>
            <ion-toggle slot="start">Recuerdame</ion-toggle>
          </ion-item>

          <ion-item *ngIf="mensaje">
            <ion-label color="success">{{ mensaje }}</ion-label>
          </ion-item>
          <div *ngIf="spinner" class="loading-container">
            <ion-card>
              <ion-card-content>
                <ion-label class="loading-label">Cargando...</ion-label>
                <ion-progress-bar value="99"></ion-progress-bar> 
              </ion-card-content>
            </ion-card>
          </div>
          <ion-button expand="medium" fill="outline" (click)="validar()">Conectar</ion-button>
          <ion-button expand="medium" fill="outline" [routerLink]="['/register']">Registrar</ion-button>
          <ion-button expand="medium" fill="outline" [routerLink]="['/change-password']">Restablecer Contraseña</ion-button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
